.card {
  border: 2px solid #198753;
  border-radius: 10;
}
.content {
  padding: 10px;
}
.img {
  border-radius: 10 10 0 0;
}
.badge {
  top: 10px;
  right: 20px;
  font-size: 17px !important;
  padding: 10px;
  margin: 10;
}
