.input {
    width: 40%;
    border-radius: 8px;
    border: 2px solid #0b5ed7;
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.25);
    padding: 10px 15px;
}

.input:focus {
    outline: none;
}

.btn {
    box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.25);
}

@media (max-width: 576px) {
    .input {
        width: 80%;
    }
}